$theme-colors: (
  'primary': #003d8e,
  'secondary': #e85e0e,
  'danger': #e8270e,
);

//Enlève le border-radius sur les boutons :
$btn-border-radius: none;
$btn-border-radius-lg: none;
$btn-border-radius-sm: none;
